.hv:hover, .hv:focus {
    color: #ff3066  !important;
}
.hv1:hover, .hv1:focus {
    border-bottom: #ff3066 3px solid !important;
    color: black;

}

.open-sans {
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
}

.lato {
    font-family: 'Lato', sans-serif;
    font-weight: regular;
}
.sans {
    font-family: sans-serif;
    font-weight: 400;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: regular;
}

.bg {
    color: aliceblue;
    background-color: rgb(3, 212, 3);
    font-size: small;
    padding: 4px;
    border-radius: 4px;
}


